<form autocomplete="off" (submit)="pay($event)">
    <div class="message" *ngIf="showCardNumberError | async">CardError: {{ cardNumberError | async }}</div>
    <div class="message" *ngIf="showExpiryError | async">CardError: {{ expiryError | async }}</div>
    <div class="message" *ngIf="showCVCError | async">CardError: {{ cvcError | async }}</div>

    <input type="text" name="fakeNumber" placeholder="Fake Number" [class.error]="showCardNumberError | async" 
        (input)="handleCardNumberInput($event)" (blur)="cardNumberBlurredOnce.next(true)"/> 

    <input type="text" name="expiry" placeholder="MM-YY" [class.error]="showExpiryError | async" 
        (input)="handleExpiryInput($event)" (blur)="expiryBlurredOnce.next(true)"/>

    <input type="text" name="cvc" placeholder="CVC" [class.error]="showCVCError | async" 
        (input)="handleCVCInput($event)" (blur)="cvcBlurredOnce.next(true)"/>

    <button [disabled]="isCardInvalid | async">
        {{ ( (paymentStatus | async)?.status === "pending" ) ? "Paying" : "Pay" }}
    </button>
</form>
<!-- 
<p>
    {{ paymentStatus | async | json }}
</p> -->
