<form autocomplete="off">
    <div class="message">CardError: {{ cardError | async }}</div>

    <input type="text" name="fakeNumber" placeholder="Fake Number"
        (input)="handleFakeNumberInput($event)"/> 

    <input type="text" name="expiry" placeholder="MM-YY"/>

    <input type="text" name="cvc" placeholder="CVC"/>

    <button>
        PAY
    </button>
</form>

<p>
    UserCardNumber: {{ userCardNumber | async }}
</p>
<p>
    CardNumber: {{ cardNumber | async }}
</p>
<p>
    CardError: {{ cardError | async }}
</p>
